html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #eeeeee;
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    position: relative;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: #424147;
    display: flex;
    align-items: center;
}

.menu-item {
    color: white;
    font-family: 'Mohave', Arial;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    transition: background-color .15s;
}

.menu-item:hover {
    background-color: #fe6c5d;
}