.menu-item {
    color: white;
    font-size: 20px;
    font-family: 'Mohave', 'Arial Black';
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    height: 25px;
}

.menu-item:hover {
    background-color: #c5f69f;
}

.menu-item:active {
    background-color: #b8e994;
}

@keyframes placeHolderKeyFrames {
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.news-placeholder {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderKeyFrames;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 50px;
    position: relative;
}